**{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: system-ui;
    color: #808080;
    background: #f7f7f7;
}

#conteiner{
    display: flex;
    flex-direction: column;
    padding: 9px;
    justify-content: center;
    align-items: center;
}
.bloco-nav{
    width: 100%;
    border: 1px solid red;
}
.bloco-nav .oneitem{
    float: left;
    list-style: none;
}
.bloco-nav .oneitem .item{
    float: left;
    margin-right: 4px;
    border: 1px rebeccapurple;
}
.bloco-formulario{
    border-radius: 3%;
    border: 1px solid rgb(132, 128, 128) ;
    padding: 4%;
    
    

   
}
/** input formulario **/
    input[type=text]{
        font-size: 110%;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid rgb(132, 128, 128);
        border-radius: 4px;
    }
   

    textarea{
        font-size: 20px;
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
      }
      input[type=button], input[type=submit], input[type=reset] {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    button{
        border: none;
        text-decoration: none;
        border-radius: 5%;
        padding: 20px 20px;
        color: rgb(15, 16, 16);
        background-color: #37383a;
        font-size: 16px;
        cursor: pointer;
        box-sizing: border-box;
    }
/** input formulario **/
.bloco-footer{
    border: 2px solid forestgreen;
}